.cajon-b.color-primario::before 
  background-color: #C4FBF8
.color-text
  color: #0043FF
.custom_box_left   
  position: relative 
  padding: 2.5rem 1.5rem 
  background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(231,231,231,1) 100%)
  p
    position: relative 
  &:before 
    content: ""
    position: absolute
    top: 0
    left: -40%
    width: 30%
    height: 100%
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(231,231,231,1) 100%)
    z-index: 0
.onTop
  position: relative
  z-index: 10
.custom_box_left-2   
  position: relative 
  padding: 2.5rem 1.5rem 
  background: #FFFFFF
  p
    position: relative 
  &:before 
    content: ""
    position: absolute
    top: 0
    left: -50%
    width: 20%
    height: 100%
    background: #FFFFFF
    z-index: 0
.custom_box_rigth 
  position: relative 
  padding: 2.5rem 1.5rem 
  background: linear-gradient(97deg, rgba(232,232,232,1) 56%, rgba(255,255,255,1) 97%)
  p
    position: relative 
  &:before 
    content: ""
    position: absolute
    top: 0
    left: -50%
    width: 20%
    height: 100%
    background: linear-gradient(97deg, rgba(232,232,232,1) 56%, rgba(255,255,255,1) 97%)
    z-index: 0
.color-tarjeta-1
  background-color: #0CCBC3
  border-top-right-radius: 2rem
  border-top-left-radius: 2rem
  border-bottom-left-radius: 2rem
  border-bottom-right-radius: 2rem
  width: 250px
  @media (max-width: 992px)
    width: 260px
    height: 240px
    margin-left: 50px
.color-tarjeta-2
  background-color: #0CCBC3
  border-top-right-radius: 2rem
  border-top-left-radius: 2rem
  border-bottom-left-radius: 2rem
  border-bottom-right-radius: 2rem
  width: 250px
  @media (max-width: 992px)
    width: 260px
    height: 240px
    margin-left: 64px
.titulo-segundo::after 
  content: ''
  display: block
  height: 3px
  width: 140px
  border-left: solid 50px
  border-left-color: currentcolor
  border-left-color: #0CCBC3
  background-color: #e8e8e8
.jumbotron
  background-color: #C4FBF8
.tarjeta.color-infografica
  background-color: #BAEAE8
  width: 260px
  height: 170px
  display: flexbox
  margin-top: -3rem
  @media (max-width: 992px)
    width: 360px
    height: 150px
    margin-left: -70px
    margin-top: -3rem
.tarjeta.color-infografica-1
  background-color: #E5ECFF
  width: 190px
  height: 310px
  display: flexbox
  font-size: 16px
  @media (max-width: 992px)
    width: 360px
    height: 225px
    margin-left: -50px
    margin-bottom: -16rem
.tarjeta.color-infografica-2
  background-color: #BAEAE8
  width: 260px
  height: 310px
  display: flexbox
  margin-top: -3rem
  @media (max-width: 992px)
    width: 360px
    height: 225px
    margin-left: -70px
    margin-top: -1rem
.tarjeta.tarjeta-flip
  background-color: #E5ECFF
  width: 280px
  height: 365x
  display: flexbox
  @media (max-width: 992px)
    margin-left: 85px
.tarjeta.tarjeta-flip-1
  width: 280px
  height: 365x
  display: flexbox

.tarjeta.tarjeta-flip-2
  background-color: #E5ECFF
  width: 280px
  height: 365x
  display: flexbox
  @media (max-width: 992px)
    margin-left: 85px


.slyder-a__bullets__item 
  width: 15px
  height: 15px
  background-color: #fff
  border-radius: 50%
  box-shadow: 0 0 5px 0px rgba(0, 0, 0, 0)
  margin: 0 10px
  cursor: pointer
  opacity: 0.7
  transition: opacity 0.3s ease-in-out, box-shadow 0.3s ease-in-out
  border: 1px solid #888



.img-infografica.color-secundario .img-infografica__item__dot::before, .img-infografica.color-secundario .img-infografica__item__dot::after, .img-infografica.color-secundario .img-infografica-b__item__dot::before, .img-infografica.color-secundario .img-infografica-b__item__dot::after, .img-infografica-b.color-secundario .img-infografica__item__dot::before, .img-infografica-b.color-secundario .img-infografica__item__dot::after, .img-infografica-b.color-secundario .img-infografica-b__item__dot::before, .img-infografica-b.color-secundario .img-infografica-b__item__dot::after 
  background-color: #BDE038
.back-slyder
  background-color: #F4F4F4
  border-top-left-radius: 10px
  border-bottom-left-radius: 10px
  border-top-right-radius: 10px
  border-bottom-right-radius: 10px

.fondo-slyder
  background-image: url('../assets/curso/images/tema1/back_slyder.svg')
  background-size: cover
  background-repeat: no-repeat
  padding: 3rem

.fondo-slyder-2
  background-image: url('../assets/curso/images/tema1/fondo_slyder.svg')
  background-size: cover
  background-repeat: no-repeat
  padding: 3rem

.position
  position: absolute
  top: 36px
  left: 489px
  width: 91px
  z-index: 1
  @media (max-width: 980px)
    top: 37px
    left: 72px

.position-1
  position: absolute
  top: 36px
  left: 489px
  width: 91px
  z-index: 1
  @media (max-width: 300px)
    top: 35px
    left: 74px

.position-2
  position: absolute
  top: 36px
  left: 489px
  width: 91px
  z-index: 1
  @media (max-width: 980px)
    top: 35px
    left: 17px

.botom
  z-index: 0
  @media (max-width: 980px)
    margin-left: 8rem !important

.aling-0
  @media (max-width: 992px)
    margin-right: 90px

.aling-1
  text-align: left  !important
  margin-top: 5rem
  margin-left: 2.5rem
  white-space: 10px

.aling-2
  text-align: left  !important
  margin-top: 11rem
  margin-left: -1.5rem
  white-space: 10px

.aling-3
  text-align: left  !important
  margin-top: 7rem
  margin-left: 1.5rem
  white-space: 10px

.aling-4
  text-align: left  !important
  margin-top: 5rem
  margin-left: 1.5rem
  white-space: 10px

.aling-5
  text-align: left  !important
  margin-left: -5.5rem

.aling-6
  @media (max-width: 442px)
    margin-right: 9rem

.text-center 
  text-align: left !important

.text-center-1
  text-align: center !important
  font-size: 18px

.titulo-sexto 
  margin-bottom: 24px
  border-left: 5px solid
  border-left-color: currentcolor
  padding: 5px 0 5px 15px
  border-color: #0CCBC3

.boton.color-acento-contenido, .color-acento-contenido.boton--sm, .color-acento-contenido.boton--sm 
  background-color: #3740A5
  justify-content: center !important
  margin-left: 34rem

.slyder-a__btn--sigt, .slyder-a__btn--atrs 
  width: 50p
  height: 50px
  background-color: #BDE038
  border-radius: 50%
  background-image: url(../assets/curso/images/tema1/bi.svg)
  background-repeat: no-repeat
  background-size: 16px 24px
  background-position: center
  border: 1px solid #D8ECFF
  border-top-color: rgb(216, 236, 255)
  border-right-color: rgb(216, 236, 255)
  border-bottom-color: rgb(216, 236, 255)
  border-left-color: rgb(216, 236, 255)
  top: 86%
  z-index: 10000
  opacity: 0.7
  box-shadow: 0 0 0px 0px rgba(0, 0, 0, 0.3)
  transition: opacity 0.3s ease-in-out, box-shadow 0.3s ease-in-out
  cursor: pointer
.slyder-a__tipo-a .slyder-a__btn--atrs 
  transform: translateY(-50%) rotate(180deg)
  left: 15px
.slyder-a__tipo-a .slyder-a__btn--sigt 
  transform: translateY(-50%) rotate(1deg)
  right: 15px
.slyder-a__bullets__item--active 
  background-color: #0CCBC3
  border-color: #727997
  opacity: 1
.modal-a__content 
  position: fixed
  top: 50%
  left: 50%
  background-color: #BAEAE8
  width: 90%
  max-width: 1300px
  max-height: 100vh
  overflow-y: auto
  z-index: 110001
  border-radius: 20px
  transform: translate(-50%, -50%) scale(0)
  transition: transform 0.3s ease-in-out
.p-5 
  padding: 3rem !important
.color-custom-1
  background-color: #C4FBF8
.color-custom-2
  background-color: #CCD9FF
.container-top
  border-radius: 20px 20px 0 0
.container-bottom
  border-radius: 0 0 0px 0px

.bg-tema1
  background-image: url('../assets/curso/images/tema4/back_6.png')
  background-size: cover
  background-repeat: no-repeat
  @media screen and ( max-width: 992px)
    background-size: cover 
    margin-inline: -1.4rem

.fondo-1
  background-image: url('../assets/curso/images/tema4/back_2.svg')
  background-size: cover
  background-repeat: no-repeat
.fondo-2
  background-image: url('../assets/curso/images/tema3/back_2.png')
  background-size: cover
  background-repeat: no-repeat
  @media (max-width: 992px)
    right: 0
    top: 0
   
  margin-top: -48px
.flip
  color: #0043FF
.img250
  max-width: 200px !important
.bgr
  background-color: #E6F1FF
  max-width: 350px !important
  &_2
    background-color: #0CCBC3 !important
    height: 350px !important
  &_3
    background-color: #0043FF !important
    height: 350px !important
  &_4
    background-color: #0043FF !important
    height: 250px !important
.justify-center
  display: flex
  flex-wrap: wrap
  align-items: normal
  justify-content: center
  flex-direction: row
.align-items-center
  display: flex
  align-items: center !important
  flex-direction: row
.Tbg--gray
  background-color: #f1f1f1 !important
.cell--blue
  background-color:  #E8E8E8 !important
  font-size: 1.25em
.cell--blue-1
  background-color:  #D9F4F2 !important
  font-size: 1.25em
.tarjeta--sencilla
  background-color: #CCD9FF
  border-top-left-radius: 10px
  border-bottom-left-radius: 10px
  border-top-right-radius: 10px
  border-bottom-right-radius: 10px
.tarjeta--sencilla-1 
  background-color: #BAEAE8
  border-top-left-radius: 10px
  border-bottom-left-radius: 10px
  border-top-right-radius: 10px
  border-bottom-right-radius: 10px
.aling-9-text
  text-align: left !important
  margin-left: 10px
.sp1
  background: #213B82
.aling
  text-align: center !important
  top: 31px
.cajon-b::before 
  content: ''
  display: block
  position: absolute
  opacity: .35
  top: 0
  left: 0
  right: 74%
  bottom: 50%
.boton.color-acento-contenido, .color-acento-contenido.boton--sm 
  background-color: #3740A5
.pos12
  margin: 0 auto

.mg-x
  margin-left: 50px

.gris
 background-color: #F4F4F4

.slyder-a__tipo-b .slyder-a__bullets
  bottom: 0px
.slyder-a__bullets__item--active
  background-color: #0CCBC3 !important
  border-color: #0CCBC3 !important
.slyder-a__bullets__item
  background-color: #FFFFFF
  height: 31px
  width: 31px
.slyder-a__tipo-b .slyder-a__btn--sigt
  background-color: #BDE038
.slyder-a__tipo-b .slyder-a__btn--atrs
  background-color: #BDE038
.slyder-a__tipo-b .slyder-a__btn--sigt 
  transform: rotate(-1deg)
  right: 15px
.slyder-a__tipo-b .slyder-a__btn--atrs 
  transform: rotate(180deg)
  left: 15px
.cs
  overflow-y: hidden




